{% extends "_shell/base.html" %}

{% block title %}PracticeForge{% endblock %}

{% block head_assets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha384-nRgPTkuX86pH8yjPJUAFuASXQSSl2/bBUiNV47vSYpKFxHJhbcrGnmlYpYJMeD7a" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/base.css?v=3">
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$','$']],
    displayMath: [['$$','$$']]
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block brand_href %}{{ url_for('problems_blueprint.index') }}{% endblock %}
{% block brand_name %}practiceforge{% endblock %}

{% block nav_links %}
<li><a class="ui-navbar__link" href="{{ url_for('problems_blueprint.index') }}">Problems</a></li>
<li><a class="ui-navbar__link" href="{{ url_for('solutions_blueprint.index') }}">Solutions</a></li>
{% endblock %}

{% block footer_text %}&copy; 2026 Nova. PracticeForge - Codeforces Practice{% endblock %}

{% block content %}{% endblock %}

{% block scripts_pre %}
<script src="/static/js/ui-modal.js?v=1"></script>
<script src="/static/js/error.js"></script>
{% endblock %}
