:7031 {
    handle /health {
        reverse_proxy solver_private:7030
    }

    handle /404 {
        reverse_proxy solver_private:7030
    }

    handle_path /documentation/* {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy solver_documentation:8005
    }

    handle {
        forward_auth gatekeeper:7000 {
            uri /api/authz/forward-auth
        }
        reverse_proxy solver_private:7030
    }
}
