:7031 {
    handle /health {
        reverse_proxy solver_private:7030
    }

    handle_path /documentation/* {
        reverse_proxy solver_documentation:8005
    }

    handle {
        reverse_proxy solver_private:7030
    }
}
